html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  font-size: 8pt;
  font-family: sans-serif;
  background: #E9E9E9 url(../public/assets/bodybackground.jpg) top left repeat-x;
  margin: 0;
  /* transform: scale(1.1);
  transform-origin: 0 0; */
  zoom: 1.3;
}

a {
  &:link {
      color: #3E5F7E;
      text-decoration: none;
  }

  &:visited {
      color: #3E5F7E;
      text-decoration: none;
  }

  &:active {
      color: #3E5F7E;
      text-decoration: none;
  }

  &:hover {
      color: black;
      text-decoration: none;
  }
}

textarea {
  width: 400px;
  height: 400px;
}

img[src$='#blogpost-image'] {
  max-width: 100%;
  max-height: 100%;
}

#site-header {
  margin: 0;
  padding: 0;
  height: 151px;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 0.85rem;
}

h3 {
  font-size: 0.65rem;
}


#wrap {
  width: 812px;
  margin: 0 auto;
  background: url(../public/assets/heading.jpg) top left no-repeat;
}

#body {
  min-height: 200px;
  background: url(../public/assets/backboxcenter.jpg) top left repeat-y;
  padding: 0 12px 1px 12px;
}

#iesucks {
  clear: both;
}

#footer {
  clear: both;
  height: 31px;
  background: url(../public/assets/footer.png) top left no-repeat;
  text-align: center;
  padding-top: 8px;

  span {
      font-size: 10pt;
      color: white;
  }
}

.box {
  margin-bottom: 2px;

  .box-header {
      margin: 0;
      padding: 0;
      height: 32px;
  }

  .footer {
      height: 2px;
  }
}

#side-bar {
  float: left;
  width: 153px;

  .box {
    background: url(../public/assets/barboxcenter.jpg) top left repeat-y;

    .content {
      padding: 2px 4px;
      background: url(../public/assets/barboxfooter.jpg) bottom left no-repeat;

      input {
        border: 1px solid #ccc;
        padding: 2px;
        width: 100%;
        box-sizing: border-box;
        font-size: 8pt;

        &:focus {
          border-color: #3E5F7E;
          outline: none;
        }
      }

      button {
        font-size: 8pt;
        margin-bottom: 4px;
      }
    }
    
  }
}



#navigation {
  .box-header {
    background: url(../public/assets/boxhead_navigation.jpg) top left no-repeat;
  }

  .content {
    
    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 4px 6px;
        padding: 0;

        a {
          display: block;
          color: #333;
          font-size: 8pt;

          &:hover {
            background: darken(#eee, 5%);
            text-decoration: underline;
            color: #3E5F7E;
          }
        }
      }
    }
  }
}

#login {
  .box-header {
    background: url(../public/assets/boxhead_login.jpg) top left no-repeat;
  }
}

#profile {
  .box-header {
      background: url(../public/assets/boxhead_profile.jpg) top left no-repeat;
  }

  input {
    margin-bottom: 4px;
  }
}

#shoutbox {
  .box-header {
      background: url(../public/assets/boxhead_shoutbox.jpg) top left no-repeat;
  }

  .content {
    padding: 4px;
  }
}

#something {
  .box-header {
      background: url(../public/assets/boxhead_something.jpg) top left no-repeat;
  }

}

#content {
  margin-left: 155px;
  background: url(../public/assets/contentboxcenter.jpg) top left repeat-y;

  .box-header {
      background: url(../public/assets/boxhead_content.jpg) 0px 0px no-repeat;
  }

  .content {
      padding: 2px 4px;
      background: url(../public/assets/contentboxfooter.jpg) bottom left no-repeat;
      min-height: 600px;
  }
}
/*Overrides*/
.nav-link {
  padding: 0 0.2rem;
}
